/kubeconfig_*
.vscode/
test/e2e/debug.test
/results
/test-output
test/policy-collection/policy-collection.test
test/policy-collection/debug.test
test/integration/integration.test
.DS_Store
__debug__*

.go
bin/
vendor/

# Log files from build/periodic.sh
*-errors.log
install.sh

test/resources/policy_generator/helm-kustomization/base/charts/
governance-policy-addon-controller/
build/**/stolostron/
build/**/open-cluster-management-io/
