/build-harness*
/.build-harness-bootstrap
/kubeconfig_*
.vscode/launch.json
test/e2e/debug.test
/results
/test-output
test/policy-collection/policy-collection.test
test/policy-collection/debug.test
.DS_Store
