apiVersion: apps/v1
kind: Deployment
metadata:
  name: cert-policy-controller
spec:
  replicas: 1
  selector:
    matchLabels:
      name: cert-policy-controller
  template:
    metadata:
      labels:
        name: cert-policy-controller
    spec:
      serviceAccountName: cert-policy-controller
      imagePullSecrets:
        - name: multiclusterhub-operator-pull-secret
      containers:
        - name: cert-policy-controller
          image: quay.io/open-cluster-management/cert-policy-controller:latest-dev
          command:
          - cert-policy-controller
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              value: managed
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "cert-policy-controller"
