name: E2E # Part of the check name, be careful when changing.

on:
  pull_request:
    branches:
      - main
      - release-[0-9]+.[0-9]+
  push:
    branches:
      - main
      - release-[0-9]+.[0-9]+

jobs:
  kind-tests:
    name: Framework KinD # Part of the check name, be careful when changing.
    uses: ./.github/workflows/kind.yml
