name: E2E # Part of the check name, be careful when changing.

on:
  pull_request:
    branches:
      - main
      - release-2.[7-9]
  push:
    branches:
      - main
      - release-2.[7-9]

jobs:
  kind-host:
    name: Framework KinD hosted mode Workflow
    uses: ./.github/workflows/kind_host.yml
  
  kind-tests:
    name: Framework KinD # Part of the check name, be careful when changing.
    uses: ./.github/workflows/kind.yml
